.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.map-container {
  position: relative;
  z-index: 0;
}

.guess-result {
  position: fixed;
  display: inline-block;
  text-align: center;
  padding: 5px;
  right: 50%;
  top: 50%;
  background-color: white;
  box-shadow: -5px -5px 15px black;
  z-index: 2;
}

ul > li {
  display: inline-block;
}

li {
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
}

#gold {
  color: gold;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}

#red {
  color: red;
}

.game-over {
  position: fixed;
  display: inline-block;
  text-align: center;
  padding: 5px;
  right: 50%;
  top: 50%;
  background-color: white;
  box-shadow: -5px -5px 15px black;
  z-index: 2;
}

.hidden-location {
  position: fixed;
  display: block;
  height: 20vh;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: -5px -5px 15px black;
  z-index: 2;
}

.hidden-location:hover {
  height: 40vh;
  margin-right: 0;
  margin-bottom: 0;
}

.hidden-location-image {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
